<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
<a class="nav-link text-dark" asp-controller="AnswerImages" asp-action="Index">AnswerImages</a>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
